*{
    text-align: center;
}

body{
    background-color: #6b8e23;
}

a{
    color:#450202;
    text-decoration: none;
}

a:hover{
    color: #e45305;
}

img{
    width: 80%;    /* Largura da Imagem */
    height: 60%;   /* Altura da Imagem */
    opacity: 100%;
    border: 8px solid;
    border-color: #3f0210;
}

#geko{
    text-align: center;
    zoom: 1;
}

#geko:hover{
    opacity: 100%;
    filter: none;
}

#geko:hover{
    zoom: 1.25;
}

h1{
    text-align: center;
    font-family: fantasy;
    color: #210c01;
}

h2{
    text-align: center;
    font-family: fantasy;
    color: #210c01;
}

p{
   text-align: center;
    font-family: fantasy;
    color: #210c01;
}